/*!
Theme Name: Personal
Theme URI: https://www.wpdesigner.com/themes/personal-wordpress-themes/
Author: wpdesigner
Author URI: https://www.wpdesigner.com
Description: 3-column Personal WordPress resposive theme, loaded with two sidebars to dislay content. 
Version: 2.0.3
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: personal
Tags: blog, custom-background, custom-menu, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font: 12px arial, helvetica, verdana, sans-serif;
    color: #000;
	line-height: 1.6;
	background: #ece8c5 url(images/bg-body.gif) repeat-x;
	
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .content-area,
  .widget-area {
    width:100% !important;
  }
  div#content.site-content
  {
  	padding: 3%;
  }
}
.attachment-post-thumbnail, .size-post-thumbnail, .wp-post-image{
	    float: left;
    	height: 180px;
    	width: 213px;
    /* border: 1px solid #ccc; */
    	margin: 6px 15px 20px 0;
}
article:after{
	
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}



a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	
	font-size: 14px;
    overflow-x: hidden;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-radius: 3px;
	background: #00496a;
	color: #fff;
	padding:  .5em 2em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover{
	
	
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
	text-decoration: none;
}

a:visited {
	
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}
a.page-numbers{
	padding: 4px 8px;
}
span.page-numbers.current{
	background: #00496a;
    color: #fff;
    padding: 4px 8px;
}
a.prev.page-numbers{
	border: 0;
}
a.next.page-numbers{
	border: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

h4.sidebar-title{
	font: bold 12px georgia, serif;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
    color: #735593;
}
.mainsidebar ul{
	margin-left: -2.5em;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 2.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.site-content{
	max-width: 890px;
	margin: 0 auto;
	overflow: hidden;
}

.site-content{
	border-radius: 0 0 4px 4px;
    padding-bottom: .7em;
	background: #00496a;
}

.content-area{
	
	width: 78%;
	display: inline-block;
	margin-left: 10px;
	background: #fff;
	float: left;
	padding: 1% 1%;
	border-radius: 0 0 4px 4px;
	border-left: 6px solid #003248;
	border-right: 6px solid #003248;
	border-bottom: 6px solid #003248;
}
.widget-area{

	width: 20%;
	display: inline-block;
	float: right;
	padding: 3% 0;
	border-radius: 4px;
}

.site-footer, .site-header{
	background: #ece8c5;
    width: 890px;
    margin: 0 auto;
	padding: 1em;
	font-size: 13px;
	
}
.site-info {
	color: #74715b;
}
.site-info a{
	color: #74715b;
}
div.mainsidebar{
	margin-top: 48px;
}
.menu-grids, .mgd1{
	padding-top: 10px;
}
.btn-a,
	.btn-a:link,
	.btn-a:visited,
	.input-field button[type='submit'],{

}

input.search-field{
	background: #00364e;
    border: 0;
    border-radius: 50px;
    margin-right: -55px;
}
input.search-submit{
	background-color: #000;
	border-top: 2px solid #000;
	border-radius: 50px;
	padding: 5px 12px;
	margin-left: 15px;
	font-size: 10.5px;
}
span.screen-reader-text{
	color: #00364e;
}
img.logo{
	margin-bottom: 8px;
}
img.feed{
	margin: 0 0 2px 5px;
}
button.navbar-toggle{
	margin-bottom: -15px;
}
h2.widget-title{
	font:bold 12px georgia, serif;
	padding: 8px 10px 6px 15px;
	margin-left: -8px;
    border: 0;
    background: url(images/bg-sidebar-title.gif) no-repeat;
    color: #d5fef8;
}
h2.entry-title{
	font: 18px georgia, "trebuchet ms", serif;
    text-transform: uppercase;
	
}
h2.entry-title a{
	color: #bf4d01;
}
#secondary-page aside ul{
	list-style-type: square;
}

aside#secondary ul{
	margin-left: -2.7em;
	font-size: 12px;
}
aside#secondary a{
	color: #aee4fc;
}
aside#secondary ul li{
	margin: 0 20px 15px 0;
    border-bottom: 1px solid #003a55;
    padding-bottom: 5px;

}
.comments-area ul li{
	margin-left: -2.2em;
}
.footer-widget-area ul li{
	margin-left: -2.8em;
}
.mainsidebar a:before{
	content: "\f00d";
	font-family: FontAwesome;
	color: #eee;
	padding: 0 10px 0 0;
}
.mainsidebar ul li{
	border-bottom: 1px solid #eee; 
	margin: 10px 0;
	font-size: 13px;
}
.mainsidebar a{
	color: #0497b1;
}
ul li {
	text-decoration: none;
	list-style: none;
}
h1.site-title {
	color: #fff;
}
p.site-description{
	color: #fff;
}
a:hover{
	text-decoration: none;
}
a:link, a:visited{
	text-decoration: none;
	
}
span.says{
	font-size: 14px;
	color: #888;
}

.reply a:hover{
	background: #224f77;
	color: #fff;
}
a.comment-reply-link{
	color: #fff;
    background: #00496a;
    padding: 6px 20px;
    border-radius: 3px;
}
a.navbar-brand{
	margin-right: 30px
}
form.search-form{
  min-width: 260px;

}
input::-webkit-input-placeholder {
color: #00364e;
}
div.comment-author.vcard{
	margin-top: 10px;
}
.comment-reply-link:hover{
	background: #224f77;
	color: #fff;
}
.comment-metadata{
	font-size: 14px;
	float: right;
	margin-top: -40px;
}
.comment-metadata a{
	color: #888;
	
}
h2.comments-title{
	font-size: 16px;
	font-weight: 600;
	
}
.comment-content{
	font-size: 14px;
	margin: 20px 0;
}
.comment-author.vcard img{
	background: #eef2f5;
	border-radius: 50px;
}
p.logged-in-as{
	margin: -5px 0 20px 0;
}
ol.comment-list :no{
	display: none;
}
p.logged-in-as a{
	font-size: 14px;
	
}

.footer-widget-area h2{
	
}

.footer-widget-area a{
	color: #fff;
}
.footer-widget-area{
	color: #fff;
	list-style: none;

}
.clearfix{
	clear: both;
}


.singlehr {
    background: linear-gradient(to right, #8E54E9, #4776E6);;
    color: #00496a;
    border: solid 1px #00496a;
    height: 1px;
    
}
.entry-meta{
	font-size: 11px;
	color: #666;
}
.entry-meta a{
	color: #0497b1;
}
footer.entry-footer{
	font-size: 12px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    line-height: 22px;
    background: #f9f9f9;
}
footer.entry-footer a{
	color: #0497b1;
}
.menu-widget-area{
	width: 250px;
}
span.comments-link:before{
	content: "|";
	color: #00496a;
	padding: 0 2px;
}
span.edit-link:before{
	content: "|";
	color: #888;
	padding: 0 2px;
}
div.nav-previous :before{
	content: "\f053";
	font-family: FontAwesome;
	color: #00496a;
	padding: 0 5px 0 0;
}
div.nav-next :after{
	content: "\f054";
	font-family: FontAwesome;
	color: #00496a;
	padding: 0 0 0 5px;
}
	
span.author.vcard:before{
	content: "\f007";
	font-family: FontAwesome;
	color: #4d4d4d;
	padding: 0 5px 0 5px;
	font-weight: 400;

}
span.posted-on a:before{
	content: "\f040";
	font-family: FontAwesome;
	color: #4d4d4d;
	padding: 0 5px 0 5px;
	
}
span.posted-on{
	
}
span.posted-on a{
	text-decoration: none;
	font-weight: 400;
}
span.author.vcard a{
	border-bottom: .5px dotted #ccc;
}
span.tags-links{
	padding-left: 5px;
	display: none;
}
span.edit-link{
	display: none;
}
span.byline{

	
}
span.byline a{
	font-weight: 400;
}
span.cat-links a:first-child:before{
	content: "\f02b";
	font-family: FontAwesome;
	color: #00496a;
	padding: 0 2px 0 5px;
}
p.logged-in-as a:before{
	content: "\f08b";
	font-family: FontAwesome;
	color: #00496a;
	padding: 5px 5px 0 0;
}

p.logged-in-as a:first-child:before{
	content: "\f090";
	font-family: FontAwesome;
	color: #00496a;
	padding: 5px 5px 0 0;
}
.comment-reply-title:after{
	content: "\f086";
	font-family: FontAwesome;
	color: #00496a;
	float: right;
	padding: 0 0 0 0;
}
ul.nav.navbar-nav text-align: {
	color: #fff;
}

article#div-comment-1.comment-body{
	padding: 20px 0;
}
.clearfix{
	clear: both;
}